language: node_js
node_js:
  - 12.14.1

cache: npm

install:
  - npm ci

script:
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master