canvas {
  cursor: crosshair;
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 140px);
  top: 140px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.left_nav {
  padding-left: 20px;
}

.right_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-right: 20px;
}

.toolbar {
  background: white;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.text_container {
  font-family: "Helvetica";
  letter-spacing: 3px;
  line-height: 125px;
  font-size: 35px;
  background: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 140px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 86%;
  resize: none;
  z-index: 1;
  background: transparent;
}

.text_area {
  border-bottom: 1px dotted black;
  pointer-events: text;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  word-wrap: break-all;
  overflow-wrap: break-all;
  white-space: normal;
  padding: 10px;
}
