canvas {
  cursor: crosshair;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 140px);
  top: 0;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.loading_screen {
  z-index: 99999;
  height: 100%;
  width: 100%;
  background: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_screen > p {
  font-family: "Helvetica";
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.center_nav {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.toolbar {
  background: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: center;
  height: 60px;
}

.text_container {
  font-family: "Helvetica";
  letter-spacing: 3px;
  line-height: 125px;
  font-size: 35px;
  background: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;

  margin: 0;
  padding: 0;
  padding-top: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 86%;
  resize: none;
  z-index: 1;
  background: transparent;
}

.text_area {
  pointer-events: text;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-all;
  overflow-wrap: break-all;
  white-space: normal;
  padding: 10px;
}
